{% extends "base.html" %}
{% block title %} Vos Posts {% endblock %}

{% block content %}
  <h1>Vos Posts</h1>

  {% if author_posts %}
    {% for post in author_posts %}
      <article class="media content-section">
        <div class="article-media">
          <small class="text-muted">Date: {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</small><br>
          <p>Auteur: {{ post.author_name }}</p>
          
          <img class="rounded-circle article-img" src="{% if post.author_profile_pic %}{{ url_for('uploaded_file', filename=post.author_profile_pic) }}{% else %}{{ url_for('static', filename='default_pic/default_profile_pic.jpg') }}{% endif %}" alt="Profile Pic" class="mr-2" width="50">

        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <p>
          <a href="{{ url_for('update_post', post_id=post._id) }}" class="btn btn-outline-edit">Edit</a>
          <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-outline-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">delete</a>
        </p>
      </article>
      
      <hr>
    {% endfor %}
  {% else %}
    <p>Aucun post trouvé.</p>
  {% endif %}

{% endblock %}
